<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info">
      Click on the name of the contact to view all tickets assigned to them.
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>

    <% @contacts.each do |c| %>
      <tr>
        <td>
          <%= link_to "#{c.firstname.titleize} #{c.lastname.titleize}", contact_path(c.id) %> 
        </td>
        <td>
          <%= c.city %> 
        </td>
        <td>
          <%= c.state %> 
        </td> 
      </tr>
    <% end %>

  </tbody>
</table>