<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>

    <% @customers.each do |c| %>
      <tr>
        <td>
          <%= c.custname %> 
        </td>
        <td>
          <%= c.city %> 
        </td>
        <td>
          <%= c.region %> 
        </td> 
      </tr>
    <% end %>

  </tbody>
</table>

<%= will_paginate @customers, renderer: BootstrapPagination::Rails %>