<div class="alert alert-info">
  Welcome to the F1 Ticket Archive.  Below is a list of all customers, you can click to view tickets and contacts for that customer.  You can also search for a customer, contact, or ticket notes from the top bar.
</div>

<%= render partial: "shared/customers", locals: {customers: @customers} %>

<%= will_paginate @customers, renderer: BootstrapPagination::Rails %>